* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --fz-header: 'Epilogue', sans-serif;
}

body {
    font-size: 1.6rem;
    background-color: #28293E;
    padding: 10.6rem 2.3rem;
}

.page {
    font-family: var(--fz-header);
    max-width: 33rem;
    margin: 0 auto;
}

header p {

    line-height: 3.2rem;

    text-align: center;
    letter-spacing: .3rem;
    text-transform: uppercase;


    color: #BBB3E6;
}

header h1 {
    font-weight: 800;
    font-size: clamp(4.0rem, 1rem + 5vw, 5.5rem);
    line-height: 4.8rem;

    text-align: center;

    color: #FFFFFF;
}

main {
    margin-top: 8rem;
    display: grid;
    gap: 3.2rem;
}

.card img {
    width: 100%;
    height: 41.6rem;
    object-fit: cover;
    border-radius: 0.6px;

    transition: all 200ms;

}

.card img:hover {
    transform: scale(1.1);
    opacity: 0.4;

}

@media (min-width:700px) {
    .page {
        max-width: 120rem;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:900px) {
    main {
        grid-template-areas:
            "A B B"
            "C C D ";
    }

    main.card:nth-child(1){
        grid-area: A; 
    }
    div:nth-child(2) {
        grid-area: B;

    }
    div:nth-child(3) {
        grid-area: C;

    }
    
    div:nth-child(4) {
        grid-area: D;

    }
}