/*---------------------------------------------------CSS UNIVERSAL--------------------------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page {
    padding: 8rem;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
}

nav {
    width: 100%;
    padding: 2rem;
    height: 6rem;
    display: flex;
    position: fixed;
    background-color: rgb(67, 173, 243);
    align-items: center;
    border-bottom: solid 1rem rgba(24, 73, 163, 0.925);
    border-end-end-radius: 2rem;
    border-end-start-radius: 2rem;
}

ul {
    display: flex;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    list-style: none;
    gap: 3.8rem;
    font-size: 1.6rem;
    color: rgb(140, 255, 249);
}

ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

ul a:hover {
    filter: brightness(0);
    transition-delay: 0.1s;

}

.logo-image {
    padding-right: 89rem;
    margin-left: 3rem;
}

.img-fluid {
    float: left;
    width: 6rem;
    height: 6rem;
}

#carrinho {
    width: 4rem;
    height: 4rem;

}

footer {
    height: 8rem;
    background-color: rgba(24, 73, 163, 0.925);
    color: white;
    margin-bottom: 0;
}

/*---------------------------------------------------CSS-REGISTRO---------------------------------------------*/


header {
    height: 6rem;
    display: flex;
    flex-direction: column
}


.form-registro1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#header-registro {
    display: flex;
    justify-content: center;
    font-family: 'Antonio', sans-serif;
    font-weight: 600;
}

#registro {
    margin-top: 3rem;
    padding: 5rem;
    background: #e0e0e0d8;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    border-radius: 4rem;
}

fieldset {
    border: none;
}

fieldset legend {


    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #b9b8b8e7;
    font-size: 2.4rem;
    line-height: 3.4rem;


    color: #535971;

}

.input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.input-wrapper input {
    margin-top: 1.5rem;
    background: #FAFAFC;
    border: 0.1rem solid #89899280;
    height: 5.6rem;
    width: 42rem;
    padding: 1rem;
    font-size: 1.6rem;
    line-height: 26px;
    color: #C1BCCC;
}

.input-wrapper input:hover {
    border-color: black;
}

.input-wrapper input:invalid {
    border: 1px solid red;
}

.input-wrapper label {
    font-family: 'Source Sans Pro', sans-serif;
}

label span {
    color: rgba(95, 95, 95, 0.664);
}

.botao {
    display: flex;
    justify-content: center;
}

#input-salvar {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    height: 5rem;
    width: 15rem;
    border: none;
    background-color: rgb(245, 244, 244);
    border: 3px solid #89899280;
    cursor: pointer;
}



footer h4 {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

/*---------------------------------------------------CSS-LOGIN-------------------------------------------------*/

#form-login {
    background: #e0e0e0d8;
    min-height: 300px;
    border-radius: 4rem;
}

.pag-login {
    display: flex;
    justify-content: center;
    position: static;
}

.inputs-login {
    display: flex;
    flex-direction: column;
}

.inputs-login input {
    width: 50rem;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.inputs-login input:invalid {
    border: 1px solid red;
}

.pag-login label {
    font-family: 'Source Sans Pro', sans-serif;

}

#h1-login {
    line-height: 5rem;
    width: 40rem;
    margin-right: 10rem;
    font-family: 'Antonio', sans-serif;

}

#banner-login {
    width: 50rem;
    margin-right: 8rem;
    margin-top: 8rem;
}

.texto-login {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    border-radius: 4rem;
    border: solid 3px #ccc;
    margin-right: 5rem;
}

#botao_login {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


#botao_login:hover {
    opacity: 0.8;
}

/*---------------------------------------------------CSS INICIO-----------------------------------------------*/


#searchbar {
    height: 3rem;
    width: 80rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.icon {
    padding-right: 2.5rem;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
    background-size: 2rem;
}

.homepage {
    display: flex;
    justify-content: center;
}

.botao-pesquisa #filter {
    height: 3rem;
    width: 3rem;
    float: right;
    margin-left: 1rem;
    background: url("https://cdn-icons-png.flaticon.com/512/7699/7699100.png") no-repeat;
    background-size: 3rem;
    border: none;
    cursor: pointer;
    padding-left: 3rem;
}

.produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.produto {
    background-color: rgb(209, 208, 208);
    padding: 1rem;
}

.produto a {
    text-decoration: none;
}

.produto #addtocarts:hover {
    filter: brightness(0);
}

.desc-produto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#banner-inicio {
    padding: 10rem;
}

/*---------------------------------------------------CSS CARRINHO---------------------------------------------*/
/*---------------------------------------------------CSS PRODUTO----------------------------------------------*/
/*---------------------------------------------------CSS CONF-C ADASTRO----------------------------------------*/
#pag-conf {
    padding: 20rem;
    display: flex;
    justify-content: center;
}

#pag-conf button {
    width: 100%;
    height: 4rem;
    cursor: pointer;
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
    background-color: white;
    border-radius: 3rem;
}

#pag-conf h3{
    font-family: 'Roboto Mono', monospace;

}

#pag-conf button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(65, 132, 255);
    box-shadow: 0rem 0rem 2rem 0.8rem #000000a2;
    transition: all 0.5s;
}