body {
    margin: 0;
    background: linear-gradient(180deg, rgba(227, 255, 248, 0) 81.25%, rgba(227, 255, 248, 0.38) 99.17%);
}

.page {
    width: 1000px;
    margin: 0 auto 0;
    gap: 120px;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

ul {
    display: flex;
    list-style: none;
    gap: 38px;
    font-size: 18px;
}

a {
    text-decoration: none;
}

ul li a {
    opacity: 0.5;
    text-shadow: 0px 4px 4px black;

}

ul li a:hover {
    opacity: 1;
}

button {
    display: flex;
    background-color: #69B99D;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 14px 32px 15px;
    height: 56px;
    width: 179px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 10px;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
}

h1 {
    font-family: 'Mulish', sans-serif;
    font-size: 49px;
    gap: 40px;
    width: 489px;
    color: black;
}


footer {
    margin-top: 0;
    text-align: center;
    font-family: 'Open Sans';
}

span {
    color: rgba(58, 168, 180, 1);
}

p {
    line-height: 28px;
    color: rgba(125, 121, 135, 1);
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

#balls {

    float: right;
}

#fitness {
    float: right;
}